# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.env

frontend

Dockerfile
.dockerignore
package*.json

controller/*
!controller/api.js
# !controller/createTaskController.js
# !controller/getTaskbyStateController.js
# !controller/promoteTask2DoneController.js

routes/routes.js

transport_files/*
!transport_files/3api_pack.tgz

middleware
test