/* CreateTaskModal */
.modal-container {
  z-index: 2;
}
.form-content {
  display: flex;
  justify-content: space-between;
  padding: 20px 20px 10px 40px !important;
  gap: 10px;
}

.left-column {
  display: flex;
  flex-direction: column;
  flex: 1;
  border-right: 1px solid;
  h3 {
    margin-top: 80px;
  }
  textarea {
    margin-right: 20px;
  }
}

.right-column {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.form-group {
  display: flex;
  align-items: flex-start;
  padding: 10px 0;

  label {
    width: 100px;
  }
  p {
    margin: 0;
  }
}

label {
  font-weight: bold;
}

.button-group {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}
.promote-button,
.demote-button,
.save-button,
.cancel-button {
  background-color: #333;
  color: white;
  padding: 10px 20px;
  /* margin-right: 10px; */
  margin: 0;
  border: none;
  cursor: pointer;
  font-size: 14px;
}
.promote-button {
  background-color: green;
}

.demote-button {
  background-color: red;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}
