.profile-container-wrapper {
  display: flex;
  justify-content: center;
  align-items: start;
  height: 100vh; /* Full viewport height */
}

.profile-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 100px;

  p {
    margin: 10px 0;
    padding: 0;
  }
  form {
    display: flex;
    flex-direction: row;
    margin-top: 40px;

    label {
      width: 110px;
    }

    button {
      width: 130px;
      margin-left: 20px;
    }
  }
}
