.usersTable-container {
  display: flex;

  table {
    border-collapse: separate;
    border-spacing: 15px 8px;
    width: 100%;
  }
  th,
  td {
    width: 350px;
    text-align: center;
    /* border: 1px solid; */
    input {
      width: 90%;
      height: 20px;
    }
    button {
      margin-left: 5px;
    }
  }
  /* th:nth-child(4),
  td:nth-child(4) {
    width: 300px;
  } */
  th:nth-child(5),
  td:nth-child(5) {
    width: 50px;
  }
  th:nth-child(6),
  td:nth-child(6) {
    width: 166px;
  }
}
