/* Container for the entire Kanban board */
.kanban-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  /* background-color: #f5f5f5; */
  max-width: 100%;
  margin: 50px auto;
}

/* Header styling for App acronym and buttons */
.kanban-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.app-acronym {
  font-size: 24px;
  font-weight: bold;
}

/* Button group styling */
.right-header-group {
  display: flex;
  gap: 10px;
}

.left-header-group {
  display: flex;
  align-items: center;
  gap: 10px;

  button {
    height: 50%;
  }
}

.plan-button,
.create-task-button {
  background-color: #333;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 14px;
  border-radius: 5px;
}

.appInfo-buttons {
  background-color: #333;
  color: white;
  padding: 10px 20px;
  /* margin-right: 30px; */
  border: none;
  cursor: pointer;
  font-size: 14px;
}

/* Kanban board layout */
.kanban-board {
  display: flex;
  justify-content: space-between;
  /* background-color: #e0e0e0; */
  /* padding: 10px; */
}

/* Individual Kanban columns */
.kanban-column {
  flex: 1;
  margin: 0 1px;
  /* background-color: #d3d3d3; */
  /* border: 1px solid #ccc; */
  /* border-radius: 5px; */
  padding: 10px;

  /* &:nth-child(2),
  &:nth-child(3),
  &:nth-child(4) {
    border-left: 1px solid;
    border-right: 1px solid;
  } */
}
/* Add a left border to separate the columns */
.kanban-column:not(:first-child) {
  border-left: 1px solid #000; /* Adjust the color and width as needed */
}

.column-title {
  font-size: 18px;
  font-weight: bold;
  /* text-align: center; */
  margin-top: -10px;
  margin-bottom: 10px;
  text-decoration: underline;
}
