/* AppsTable */
.appsTable-header,
.appsTable-container {
  display: flex;
  margin-top: 80px;
  table {
    border-collapse: separate;
    border-spacing: 5px 5px;
    width: 100%;
  }
  th,
  td {
    width: 120px;
    text-align: center;
    /* border: 1px solid; */
    input {
      width: 90%;
      height: 20px;
    }
  }
  th:nth-child(2),
  td:nth-child(2) {
    width: 60px;
  }
  th:nth-child(5),
  td:nth-child(5) {
    width: 150px;
  }
  th:nth-child(6),
  td:nth-child(6) {
    width: 150px;
  }
  th:nth-child(7),
  td:nth-child(7) {
    width: 150px;
  }
  th:nth-child(8),
  td:nth-child(8) {
    width: 150px;
  }
  th:nth-child(9),
  td:nth-child(9) {
    width: 150px;
  }
  th:nth-child(11),
  td:nth-child(11) {
    width: 80px;
  }
}
.appsTable-container {
  margin-top: 0;
}

textarea {
  resize: none;
  /* width: 100%; */
}

.appsTable-header .apps-header {
  width: 120px;
}

.appsTable-header .apps-header:nth-child(10) {
  width: 450px;
}
