.createGrp-container {
  /* display: flex; */
  margin-top: 100px;

  form {
    display: flex;
    gap: 10px;
  }
}

.createGrp-error-msg {
  position: absolute;
  top: 55px;
  left: 110px;
  color: red;
}
